@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background:  linear-gradient(#f0a5a57e , rgba(238, 237, 162, 0.63)),url("/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}